aiohttp[speedups] == 3.10.9
hikari[speedups] == 2.1.0
hikari-lightbulb == 2.3.5.post1
uvloop == 0.20.0; sys_platform != "win32" 
lavasnek-rs == 0.11.1
ciso8601 == 2.3.1
python-dotenv == 1.0.1
psutil == 6.0.0 
pillow == 10.4.0
pilmoji == 2.0.4
pytemperature == 1.1
qrcode == 7.4.2
rapidfuzz == 3.10.0
spotipy == 2.24.0
