aiohttp[speedups] == 3.13.1
hikari[speedups] == 2.4.1
hikari-lightbulb == 2.3.5.post1
uvloop == 0.22.1; sys_platform != "win32" 
lavasnek-rs == 0.11.1
ciso8601 == 2.3.3
python-dotenv == 1.1.1
psutil == 7.1.0 
pillow == 12.0.0
pilmoji == 2.0.4
pytemperature == 1.1
qrcode == 8.2
rapidfuzz == 3.14.1
spotipy == 2.25.2
